@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

html{
	font-size: 10px;
}

body{
	font-size:1.8rem ;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
}

.menu{
	position: relative;
	background-image:url(../img/fundo.jpg);
}

.nav{
	padding-right: 0;
}

.links{
    margin-top: 3rem;
    margin-bottom: 0;
}

.links li{
	display: inline-block;
	padding-left:2.9rem;
}

.links li a{
	color:#9b8019;
	text-transform: uppercase;
	font-weight:400;
}

.btn{
	padding-right:0;
}

.botao-menu{
	background: transparent;
	border: 1px solid #9b8019;
	border-radius: 2rem;
	padding: .3rem 1.424rem;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.titulo{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 5rem;
	color:#9b8019;
}

.title{
	margin-top:2rem;
}

.soft{
	padding-top:2.1rem;
	background-image:url(../img/fundo.jpg);
	position: relative;
	
}

.soft h2{
	color: white;
	font-size: 4.5rem;
	font-weight: 400;
}

.soft h3{
	color: white;
	font-size: 2.4rem;
 	font-weight: 200;
 	margin-bottom: 2.6rem;
}

.fundo{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: rgba(233,205,116, .85);
}

.soft .tour{
	color: #9b8019;
	font-weight: 300;
}

.soft:after{
	background:white;
	border-radius: 50%;
	width: 4rem;
	height: 4.6rem;
	position: absolute;
    top: 51.8rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
   	color:#9b8019;
	content: "\f107";
	font-size: 2.2rem;
}

.soft img{
	margin-bottom: 3.3rem;
}

#colors{
	padding-top: 4.6rem;
	padding-bottom:7.7rem 
}

#colors h2{
	color: #9b8019;
	font-size: 4.5rem;
	font-weight: 300;
	margin-bottom: 2.1rem;
}
#colors .titulo-colors{
	font-size: 4.5rem;
	font-weight: 400;
}
#colors p{
	color:#b9a15b;
	font-size:2.17rem;
	line-height: 1.5;
	font-weight: 200;
	margin-bottom: 10rem;
}

#colors .responsive{	
	width: 250px;
	height:200px;
	margin-bottom: 2.2rem;
}

#colors h3{
	color: #9b8019;
	font-weight: 400;
}

#colors span{
	color: #9b8019;
	line-height: 1.5;
	font-weight: 200;
}

#nutrients{
	background: #e6ce76;
	position: relative;
	padding-top: 4.7rem;
	padding-bottom: 10.2rem;
}

#nutrients h2{
	color: white;
	font-size: 4.5rem;
	font-weight: 300;
	margin-bottom: 1.7rem;
}

#nutrients .img-fundo1{
 	position: absolute;
 	top: 37.7rem;
    right:8.1rem;
 	opacity: .4;
}

#nutrients .img-fundo2{
 	position: absolute;
    top: 38.8rem;
    left:92.9rem;
 	opacity: .4;
}

#nutrients span{
	font-size: 2.4rem;
	font-weight: 200;
	color: white;
}

#nutrients #pell{
	font-weight: 400;
	font-size: 4.5rem;
}

.banana-des{
	margin-top: 3.9rem;
	position: relative;
}

.calories{
	position: absolute;
	top: 20.8rem;
	left: 19.3rem;
}

.calories:before{
   	color:#e7c65d;
	font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f111";
	text-align: center;
	font-size: 1.6rem;
	border-radius:50%;
	background-color: transparent;
	border:solid 1px #e7c65d;
	width: 30px;
	height: 30px;
	position: absolute;
	top:-13rem;
	left:27rem;

}

.vitamins{
	position: absolute;
	top: 34.7rem;
	left: 9.3rem;
}

.vitamins:before{
   	color:#e7c65d;
	font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f111";
	text-align: center;
	font-size: 1.6rem;
	border-radius:50%;
	background-color: transparent;
	border:solid 1px #e7c65d;
	width: 30px;
	height: 30px;
	position: absolute;
	top:-19.4rem;
	left:35.8rem;
}

.carbohydrate{
	position: absolute;
	top: 20.8rem;
	right: 19.3rem;
}

.carbohydrate:before{
   	color:#e7c65d;
	font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f111";
	text-align: center;
	font-size: 1.6rem;
	border-radius:50%;
	background-color: transparent;
	border:solid 1px #e7c65d;
	width: 30px;
	height: 30px;
	position: absolute;
	top:-8.5rem;
	right:25.4rem;
}

.protein{
	position: absolute;
	top: 34.7rem;
	right: 9.3rem;
}

.protein:before{
	color:#e7c65d;
	font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content: "\f111";
	text-align: center;
	font-size: 1.6rem;
	border-radius:50%;
	background-color: transparent;
	border:solid 1px #e7c65d;
	width: 30px;
	height: 30px;
	position: absolute;
	top:-15.8rem;
	right:36.4rem;
}

#nutrients .linha{
	font-size: 2.4rem;
	position: absolute;
	top: 18rem;
	left:26rem;
}

#nutrients .linha1{
	font-size: 2.4rem;
	position: absolute;
	top: 15rem;
	left:27.4rem;
}

#nutrients .linha2{
	font-size: 2.4rem;
	position: absolute;
	top: 12rem;
	left:29rem;
}

#casca-banana{
	padding-top: 4.6rem;
	padding-bottom:7.7rem;
	position: relative;
}

#casca-banana h2{
	color: #9b8019;
	font-size: 4.5rem;
	font-weight: 300;
	margin-bottom: 2.1rem;
}

#casca-banana h3{
	color: #9b8019;
	font-weight: 400;
}

#casca-banana p{
	color: #9b8019;
	line-height: 1.5;
	font-weight: 200;
}

#casca-banana h2 span{
	font-weight: 500;
}

#casca-banana p span{
	font-weight: 300;
}

#casca-banana .img1{
    margin-top: 10.2rem;
    position: relative;
}

#casca-banana .img2{
	margin-top: 10.9rem;
	position: relative;
}

#casca-banana .img3{
	margin-top: 10.9rem;
	position: relative;
}

.texto-img1{
	margin-top: 5.6rem;
	padding-bottom: 4.6rem; 
}

.texto-img2{
	margin-top: 7.6rem;
	padding-bottom: 4.6rem; 
} 

.texto-img3{
	padding-bottom: 4.6rem; 
}

.fundo-direita{
	position: absolute;
	top:-4rem;
	right:-8.9rem;
	opacity: .4;
	width: 15%;
}

.fundo-esquerda{
	position: absolute;
	top:0;
	left: -8.9rem;
	opacity: .5;
	width: 15%;
}

.fundo-besquerda{
	position: absolute;
	bottom: 0;
	left: 7rem;
	opacity: .5;
	width: 15%;
}

.fundo-bdireita{
	position: absolute;
	bottom: 0;
	right:9rem;
	opacity: .4;
	width: 15%;	
}

.fundo-bmeio{
	position: absolute;
	bottom: 0;
	opacity: .4;
	width: 15%;
}

.delicious{
	padding-top: 4.65rem;
	padding-bottom:7rem;
	position: relative;
	background-position: bottom center; 
}

.delicious .responsive{
	width: 98%;
	height: 47rem;
	border-radius: .7rem;
	
}

.delicious h2{
	color: white;
	font-size: 4.5rem;
	font-weight: 300;
	margin-bottom: 7.4rem;
	
}

.delicious h3{
	color: white;
	font-weight: 400;
}

.delicious p{
	color: white;
	line-height: 1.5;
	font-weight: 200;
}

.overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.6);
}

.prato-banana1, .prato-banana2,.prato-banana3{
	position: relative;
}

.texto-pranto-banana1,.texto-pranto-banana2,.texto-pranto-banana3{
	width: 91%;
	padding-left: 1rem;
	box-shadow: 10rem 10rem 40rem #1b1811 inset; 
	position: absolute;
	bottom: 0;
	left: 1.5rem;
}