@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

html{
	font-size: 10px;
}

body{
	font-size:1.8rem ;
	line-height: 1.7;
	font-family: 'Roboto', sans-serif;
}

#menu{
	background-image:url(../img/fundo.jpg);
	position: relative;
	width: 100%;
}

.titulo{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 5rem;
	color:#9b8019;
	margin-left: 7rem;
}

.btn{
	margin-right: 3rem;
}

.botao-menu{
	background: transparent;
	border: 1px solid #9b8019;
	border-radius: 2rem;
	padding: .4rem 1.424rem;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.navbar-default{
	padding-top: .5rem;
 	background: transparent;
 	border: none;
 	width: 100%;
	position: relative;
	margin-bottom: 0;
}


#link{
	float: right;
    margin-top: 1.5rem;
}

#link li {
    display: inline-block;
    float: none;
	padding-left: .4rem;
  }

#link li a {
	color:#9b8019;
	text-transform: uppercase;
	font-weight:400;
	font-size: 1.75rem;
}

#link .active a , #link .active a:focus, #link .active a:hover{
	background: transparent;
	font-weight:700;
}

.soft{
	padding-top: 3.6rem;
	background-image:url(../img/fundo.jpg);
	position: relative;
	padding-bottom:3.8rem;
	
}

.soft h2{
	color: white;
	font-size: 4.5rem;
	font-weight: 400;
}

.soft h3{
	color: white;
	font-size: 2.4rem;
 	font-weight: 200;
 	margin-top: 13px;
}

.fundo{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: rgba(233,205,116, .85);
}

.soft .tour{
	color: #9b8019;
	font-weight: 300;
}

.soft:after{
	background:white;
	border-radius: 50%;
	width: 4.6rem;
	height: 4.6rem;
	position: absolute;
    left: 0;
    right: 0;
    bottom: -2rem;
    margin: 0 auto;
    text-align: center;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
   	color:#9b8019;
	content: "\f107";
	font-size: 2.2rem;
}

.soft img{
	margin-bottom: 4.2rem;
}

#colors{
	padding-top: 3.8rem;
	padding-bottom: 7.3rem;
}

#colors h2{
	color: #9b8019;
	font-size: 4.5rem;
	font-weight: 300;
}

#colors .titulo-colors{
	font-size: 4.5rem;
	font-weight: 400;
}
#colors p{
	color:#b9a15b;
	font-size:2.17rem;
	line-height: 1.5;
	font-weight: 200;
	margin-bottom: 10rem;
}

#colors .responsive{	
	width: 25rem;
	height:20rem;
	margin-bottom: 2.2rem;
}

#colors h3{
	color: #9b8019;
	font-weight: 400;
}

#colors span{
	color: #9b8019;
	line-height: 1.5;
	font-weight: 200;
}

#nutrients{
	background: #e6ce76;
	position: relative;
	padding-top: 4.6rem;
	padding-bottom: 9.515rem;
}

#nutrients h2{
	color: white;
	font-size: 4.5rem;
	font-weight: 300;
	margin-bottom: 1.7rem;
}

#nutrients p{
	margin-bottom:0;
}

#nutrients .img-fundo1{
 	position: absolute;
 	top: 500px;
    right:81px;
 	opacity: .4;
}

#nutrients .img-fundo2{
 	position: absolute;
    top: 500px;
    left: 929px;
    opacity: .4;
}

#nutrients span{
	font-size: 2.4rem;
	font-weight: 200;
	color: white;
}

.linha{
	position: absolute;
    bottom: 17rem;
    left: 27rem;
    width: 20%;
	
}

.linha2{
	position: absolute;
    left: 20rem;
    bottom: 8rem;
}

.linha3{
    position: absolute;
    right: 28rem;
    bottom: 12rem;
}

.linha4{
	position: absolute;
    right: 27rem;
    bottom: 5rem;
}



#nutrients #pell{
	font-weight: 400;
	font-size: 4.5rem;
}

.banana-des{
	position: relative;
}

.calories{
	float :left;
	margin-top: 18rem;
    margin-left: 20rem;
}

.vitamins{
	float: left;
	clear: left;
	margin-top: 9rem;
    margin-left: 10rem;
}

.carbohydrate{
	float: right;
    margin-top: -15rem;
    margin-right: 14rem;
}

.protein{
	float: right;
	clear: right;
	margin-top: -7rem;
    margin-right: 14rem;
}

#nutrients #circulo1, #nutrients #circulo4, #nutrients #circulo3, #nutrients #circulo2{
	text-align: center;
	border-radius:50%;
	background-color: transparent;
	border:solid 1px #e7c65d;
	padding: 4px 6px;
    font-size: 10px;
}

#nutrients{
	padding-bottom: 30rem;
}

#circulo1{
	position: absolute;
   	top: 25%;
    right: 12%;
}

#circulo2{
	position: absolute;
   	top: 35%;
    right: 10%;
}

#circulo3{
	position: absolute;
    top: 42%;
    right: 29%;
}

#circulo4{
	position: absolute;
  	top: 50%;
    right: 19%;
}

#circulo1 i,#circulo4 i,#circulo3 i,#circulo2 i{
	color:#e7c65d;
	font-size: 16px;
}
.img-circulo{
	width: 88.39px;
	height: 404px;
	margin: 0 auto;
	position: relative;
}

#casca-banana{
	padding-top: 4.6rem;
	padding-bottom:7.7rem;
	position: relative;
}

#casca-banana h2{
	color: #9b8019;
	font-size: 4.5rem;
	font-weight: 300;
	margin-bottom: 2.1rem;
}

#casca-banana h3{
	color: #9b8019;
	font-weight: 400;
}

#casca-banana p{
	color: #9b8019;
	line-height: 1.5;
	font-weight: 200;
}

#casca-banana h2 span{
	font-weight: 500;
}

#casca-banana p span{
	font-weight: 300;
}

#casca-banana .img1{
    margin-top: 10.2rem;
    position: relative;
}

#casca-banana .img2{
	margin-top: 10.9rem;
	position: relative;
}

#casca-banana .img3{
	margin-top: 10.9rem;
	position: relative;
}

.texto-img1{
	margin-top: 5.6rem;
	padding-bottom: 4.6rem; 
}

.texto-img2{
	margin-top: 7.6rem;
	padding-bottom: 4.6rem; 
} 

.texto-img3{
	padding-bottom: 4.6rem; 
}

.fundo-direita{
	position: absolute;
	top:-4rem;
	right:-8.9rem;
	opacity: .4;
	width: 15%;
}

.fundo-esquerda{
	position: absolute;
	top:0;
	left: -8.9rem;
	opacity: .5;
	width: 15%;
}

.fundo-besquerda{
	position: absolute;
	bottom: 0;
	left: 7rem;
	opacity: .5;
	width: 15%;
}

.fundo-bdireita{
	position: absolute;
	bottom: 0;
	right:9rem;
	opacity: .4;
	width: 15%;	
}

.fundo-bmeio{
	position: absolute;
	bottom: 0;
	opacity: .4;
	width: 15%;
}

.delicious{
	padding-top: 4.65rem;
	padding-bottom:7rem;
	position: relative;
	background-position: bottom center; 
}

.delicious .responsive{
	width:100%;
	height: 470px;
	border-radius: .7rem;
	
}

.delicious h2{
	color: white;
	font-size: 4.5rem;
	font-weight: 300;
	margin-bottom: 7.4rem;
	
}

.delicious h3{
	color: white;
	font-weight: 400;
}

.delicious p{
	color: white;
	line-height: 1.5;
	font-weight: 200;
}

.overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.6);
}

.prato-banana{
	position: relative;
    max-width: 90%;
    display: flex;
   
}

.texto-pranto-banana1,.texto-pranto-banana2,.texto-pranto-banana3{
	width:100%;
	text-align: left;
	padding-left: 10px;
	box-shadow: 10rem 10rem 40rem #1b1811 inset; 
	position: absolute;
	bottom: 0;
	left: 0;
}

#carousel{
	padding-top: 4.6rem;
	padding-bottom: 17.7rem;
}

#carousel h2{
	color: #646464;
	font-size: 4.5rem;
	font-weight: 300;
	margin-bottom: 6.7rem;
}

#carousel h2 span{
	font-weight: 400;
}

#carousel p{
	color:  #646464;
	line-height: 1.5;
	font-size: 2.4rem;
	font-weight: 300;
	font-style: oblique;
	margin-bottom: 2rem;
}

.texto-m {
	color:  #646464;
	line-height: 1.5;
	font-size: 2.2rem;
	font-weight: 400;
	text-transform: uppercase;
}

.texto-minions{
	margin-top: 3rem;
}

.carousel-indicators{
    bottom: -7.1rem;
    margin-left: -30.3%;
}

 .carousel-indicators li {
    border: 2px solid   #9b9999;
    width: 14px;
 	height: 14px;
 }

 .carousel-indicators .active{
 	background-color: #9b9999;
 	width: 14px;
   	height: 14px;
 }

 .carousel-control.left,.carousel-control.right {
 	background: white;
 }

.carousel-control.left span,.carousel-control.right span{
	color:  #646464;
	font-size: 10rem;
}	

.glyphicon {
	top:10rem;
}

#valor{
	padding-top: 4.6rem;
	background:#d6c06d; 
	padding-bottom: 6.4rem;

}

#valor h2{
	color: white;
	font-size: 4.5rem;
	font-weight: 200;
	margin-bottom: 4.8rem;
}

#valor h2 span{
	font-weight: 400;
}

#valor  h3{
	color: white;
	font-weight: 300;
	font-size: 3.3rem;
	margin-bottom: 2.2rem;
}

#valor  h3 span{
	font-weight: 400;
}

#valor  p{
	margin-top: 2.4rem;
	color: white;
	line-height: 1.55;
	font-weight: 200;
	font-size: 2.3rem;
	margin-bottom:2.9rem; 
}

#valor .botao-menu {
	color: #9b8019;
    padding: 0 3.9rem;
    border: 2px solid #9b8019;
    text-transform: unset;
    font-size: 2.3rem;
    font-weight: 300;
    border-radius: 4rem;
} 

#valor .responsive{
    margin-bottom: 4.1rem;
}

.just{
	color:white;
	font-weight: 400;
	font-size: 1.6rem;
}

#rodape{
	padding-top: .6rem;
    padding-bottom: 1.3rem;
}

small{
	color: #a08019;
	font-size:1.3rem;
	font-weight: 300;
	margin-right: 2.8rem;
	margin-left: 2.7rem;
}

@media screen and (max-width: 1195px){

	#circulo3 {
    	top: 44%;
	}

	#circulo4 {
		top: 53%;
	}

	.calories{
		margin-top: 18rem;
	    margin-left: 20rem;
	}

	.linha{
	    bottom: 19rem;
	    left: 26rem;
	    width: 20%;
	}

	.linha2{
		width: 21%;
	    bottom: 10rem;
	}

	.linha3{
	   	right: 22rem;
    	bottom: 14rem;
    	width: 14%;
	     
	}

	.linha4{
		right: 22rem;
	    width: 15%;
	}

	.vitamins{
		margin-top:0;
	}

	.carbohydrate{
	    margin-top: -18rem;
	}

	#nutrients .img-fundo1,#nutrients .img-fundo2{
    	display: none;
	}

}

@media screen and (max-width: 991px){

	#nutrients .img-fundo1,#nutrients .img-fundo2{
    	display: none;
	}

	.delicious .responsive {
		padding-bottom: 2rem;
		height: auto;

	}

	.texto-pranto-banana1, .texto-pranto-banana2, .texto-pranto-banana3 {
		bottom:2rem;
	}
	.calories{
		margin-top: 15rem;
		margin-left: 17rem;
	}

	.linha{
	    bottom: 22rem;
	    width: 15%;
	}

	.linha2{
		width: 15%;
    	bottom: 13rem;
	}

	.linha3{
	    bottom: 16rem; 
	}

	.linha4{
		bottom: 7rem;
	}

	.carbohydrate{
	    margin-right: 10rem
	}

	.protein{
		margin-top: -9rem;
   		margin-right: 10rem;
	}

}
@media screen and (max-width: 760px){
	html{
		font-size: 5px;
		}

	.navbar-default {
		position: relative;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
		background-color:white;
		width: 40%;
		position: absolute;
		right:5rem;
		z-index: 100;
	}

	.navbar-default .navbar-toggle{
		border:1px solid #9b8019;
		margin-right:5%;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		border:1px solid #9b8019;
		background-color: transparent; 
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #9b8019; 
	}

	#link{
		float: left;
	}

	#link  li{
		display: block;
		padding-left: 0;
	}

	.botao-menu {
		border: none;
		padding: 0;
	}

	.soft .tour {
		text-align: center;
	}

	.soft:after {
		top:95%;
	}

	.soft img{
		width: 50%;
	} 


	.fundo-esquerda {
		left: 0;
		top: -8rem;
	}

	.fundo-direita {
		right: 0;
		top: 8rem;
	}

	.fundo-bmeio {
		display: none;
	}

	.delicious .responsive {
		padding-bottom: 4rem;

	}

	.texto-pranto-banana1, .texto-pranto-banana2, .texto-pranto-banana3 {
		bottom:4rem;
	}

	#valor .responsive {
		width: 25%;
	}

	#valor .botao-menu {
		margin-bottom: 3rem;
	}

	#colors span {
		font-weight: 200;
		font-size: 2.5rem;
	}

	#casca-banana p {
		font-size: 2.5rem;
	}

	.just {
		font-size: 2rem;
	}

	small {
		font-size: 2rem;
	}

	#circulo3 {
    	top: 32%;
    	right: 34%;
	}

	#circulo4 {
		top: 40%;
    	right: 25%;
	}

	#circulo2{
		top: 24%;
		right: 15%;
	}

	#circulo1{
		top: 15%;
		right: 16%;
	}

	.calories{
		margin-top: 25rem;
    	margin-left: 25rem;
	}

	.linha{
		bottom: 52rem;
    	left: 38rem;
    	width: 15%;
	}

	.linha2{
		width: 15%;
	    bottom: 38rem;
    	left: 35rem;
	}

	.linha3{
	    right: 33rem;
    	bottom: 39rem; 
	}

	.linha4{
		right: 33rem;
    	bottom: 25rem;
	}

	.vitamins{
		margin-top: 6rem;
    	margin-left: 20rem;
	}

	.carbohydrate{
	    margin-top: -42rem;
    	margin-right: 20rem;
	}

	.protein {
	    margin-top: -27rem;
	    margin-right: 26rem;
	}

}
@media screen and (max-width: 451px){

	.calories {
		margin-left: 0;
    	margin-top: 16rem;
    }

    .linha {
    	bottom: 58rem;
    	left: 18rem;
    }

    .vitamins {
    	margin-top: 3rem;
    }
}